

<div class="panel panel-default" >
	<div class="panel-heading" > Se connecter </div>
	<div class="panel-body">

		<%= form_for :user,url: new_session_path, html:{class: 'form-horizontal' } do |f| %>

		<div class="form-group">
			<%= f.label "Nom d'utilisateur ou email", class: 'col-md-4 control-label'%>
			<div >
				<%= f.text_field :username, class: ' form-horizontal' %>
			</div>
		</div>
		
	

		<div class="form-group">
			<%= f.label "Mot de Password", class: 'col-md-4 control-label'%>
			<div >
				<%= f.password_field :password, class: ' form-horizontal' %>
			</div>
		</div>

	

		<div class="form-group">
			<div class="col-md-offset-4 col-md-4 ">
				<button type="submit" class="btn btn-primary"> Se connecter</button>
				
			</div>
		</div>

		<% end %>
	</div>

</div>